.callout__section {
  .card {
    background-color: var(--bulma-primary);
    background: linear-gradient(
      15deg,
      var(--bulma-primary-15) 0%,
      var(--bulma-primary) 100%
    );

    --bulma-card-radius: 3rem;
  }

  .card-content {
    --bulma-card-content-padding: 2.5rem;
  }

  h1,
  h2,
  h3,
  h4,
  h4,
  h5,
  h6 {
    color: inherit;
  }
}
