.contact-form__section {
  padding-top: 0;
  margin-top: calc(-3 * var(--bulma-block-spacing));
}

.contact-form {
  position: relative;
  height: 622px;
  max-width: 864px;

  .contact-form__columns {
    display: flex;
    height: 100%;
    gap: 5%;

    .contact-form__columns--column {
      padding: 1rem;
    }

    .contact-form__columns--column:nth-child(1) {
      padding-left: calc(1rem + 5%);
      width: 30%;
      transform: translateY(27.5%);
    }

    .contact-form__columns--column:nth-child(2) {
      width: 30%;
      transform: translateY(17.5%);
    }
  }
}

.contact-form::before {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../../images/liquid4.png");
  background-repeat: no-repeat;
  clip-path: url("#svg-clip-path");
  content: "";
}

.contact-form__clip-path-definition {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
