.contact-form__section {
  padding-top: 0;
  margin-top: calc(-3 * var(--bulma-block-spacing));
  position: relative;

  --robo-ada-1-width: 250px;
  --robo-ada-1-opacity: 0.2;
  --robo-ada-1-z-index: -3;
}

.contact-form__section::before {
  position: absolute;
  content: "";
  background: url("../../images/robo-ada1.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  width: var(--robo-ada-1-width);
  opacity: var(--robo-ada-1-opacity);
  content: "";
  z-index: var(--robo-ada-1-z-index);
}

.contact-form {
  position: relative;
  height: 622px;
  max-width: 864px;

  .contact-form__columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 5%;

    .contact-form__columns--column {
      padding: 1rem;
      width: auto;
      height: 30%;
    }

    .contact-form__columns--column:nth-child(1) {
      transform: translate(0, 15%);
    }

    .contact-form__columns--column:nth-child(2) {
      transform: translate(0, 0);
    }
  }
}

.contact-form::before {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../../images/liquid4.png");
  background-repeat: no-repeat;
  clip-path: url("#contact-form__svg--clip-path-mobile");
  content: "";
}

.contact-form__clip-path-definition {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

@media screen and (min-width: 769px) {
  .contact-form__section {
    --robo-ada-1-width: 415px;
    --robo-ada-1-opacity: 1;
    --robo-ada-1-z-index: -1;
  }

  .contact-form {
    .contact-form__columns {
      flex-direction: row;
      align-items: unset;

      .contact-form__columns--column {
        padding: 1rem;
        width: 30%;
        height: auto;
      }

      .contact-form__columns--column:nth-child(1) {
        transform: translate(20%, 27.5%);
      }

      .contact-form__columns--column:nth-child(2) {
        transform: translate(0, 17.5%);
      }
    }
  }

  .contact-form::before {
    clip-path: url("#contact-form__svg--clip-path");
  }
}
