.ada-hero {
  position: relative;
  margin-top: calc(-1 * var(--bulma-navbar-height));

  .title {
    --bulma-title-line-height: 2;
  }

  .ada-hero__level {
    margin: 0 auto;
    width: clamp(42ch, 60%, 1216px);
  }

  @media screen and (max-width: 768px) {
    .level,
    .level-left {
      align-items: flex-start;
    }

    .ada-hero__full-width {
      padding-top: var(--bulma-navbar-height);
    }
  }
}

.ada-hero__full-width {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 100%;
  content: "";
  background-image: url("../../images/hero-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  img.dark-brand {
    visibility: visible;
    display: block;
  }

  img.light-brand {
    visibility: collapse;
    display: none;
  }
}

.navbar-burger {
  color: hsl(var(--bulma-white-h), var(--bulma-white-s), var(--bulma-white-l));
}

.navbar-item .button.is-text:not(:hover) {
  color: hsl(var(--bulma-white-h), var(--bulma-white-s), var(--bulma-white-l));
}
