@media screen and (min-width: 769px) {
  .indent-text {
    h1:nth-child(2n) {
      margin-left: 5ch;
    }
  }
}

.just-text {
  p:has(img) {
    display: inline-block;
    background-color: var(--bulma-white);
    border-radius: 50%;
    aspect-ratio: 1;
    height: 192px;
    padding: 2rem;
  }
}
