{% extends 'partials/base.html.twig' %}
{% do assets.addCss('theme://css/default.css') ~ compress %}

{% block content %}
	<section class="content section pr-desktop-0">
		{{ page.content|raw }}
	</section>
{% endblock %}
