@font-face {
  font-family: SchibstedGrotesk;
  src:
    url("../fonts/SchibstedGrotesk/SchibstedGrotesk-VariableFont_wght.woff2")
      format("woff2-variations"),
    url("../fonts/SchibstedGrotesk/SchibstedGrotesk-VariableFont_wght.ttf")
      format("truetype-variations");
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
}
