body {
  position: relative;
}

body::before {
  position: absolute;
  content: "";
  background: url("../images/liquid3.png");
  background-repeat: no-repeat;
  top: -20%;
  right: 0;
  height: 622px;
  width: 864px;
}
