@font-face {
  font-family: SchibstedGrotesk;
  src:
    url("../fonts/SchibstedGrotesk/SchibstedGrotesk-VariableFont_wght.woff2")
      format("woff2-variations"),
    url("../fonts/SchibstedGrotesk/SchibstedGrotesk-VariableFont_wght.ttf")
      format("truetype-variations");
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
}

:root {
  /* typography */
  --bulma-family-primary: SchibstedGrotesk, Ubuntu, sans-serif;
  --bulma-family-secondary: SchibstedGrotesk, Ubuntu, sans-serif;
  --bulma-family-code: SchibstedGrotesk, Ubuntu, sans-serif;

  .navbar {
    /* truely transparent navbar */
    --bulma-navbar-background-color: transparent;
  }
}

.uppercase-text {
  text-transform: uppercase;
}
