:root {
  /* typography */
  --bulma-family-primary: SchibstedGrotesk, Ubuntu, sans-serif;
  --bulma-family-secondary: SchibstedGrotesk, Ubuntu, sans-serif;
  --bulma-family-code: SchibstedGrotesk, Ubuntu, sans-serif;

  /* colors */
  --bulma-primary-h: 267deg;
  --bulma-primary-s: 48%;
  --bulma-primary-l: 35%;
  --bulma-primary-invert-l: 96%;
  --bulma-link-h: 238deg;
  --bulma-link-s: 49%;
  --bulma-link-l: 35%;
  --bulma-warning-h: 31deg;
  --bulma-warning-s: 92%;
  --bulma-warning-l: 59%;
  --bulma-scheme-h: 267;
  --bulma-scheme-s: 12%;
  --bulma-burger-h: 267deg;
  --bulma-burger-s: 48%;
  --bulma-burger-l: 35%;
  --bulma-strong-color: currentColor;
  --bulma-text-l: 12%;
  --bulma-black-h: 267;
  --bulma-black-s: 12%;
  --bulma-black-l: 9%;

  .button.is-text {
    --bulma-button-text-decoration: none;
  }

  --bulma-navbar-height: 8rem;
  .navbar {
    --bulma-navbar-item-img-max-height: 6rem;
    --bulma-navbar-burger-color: var(--bulma-text);
    --bulma-burger-item-height: 2px;
    --bulma-burger-item-width: 30px;
  }

  .navbar:not(:has(.navbar-menu.is-active)) {
    --bulma-navbar-background-color: transparent;
  }
}

[data-theme="dark"] {
  --bulma-text-l: 96%;
}

@media screen and (min-width: 1024px) {
  .navbar {
    --bulma-navbar-background-color: transparent;
  }
}

.uppercase-text {
  text-transform: uppercase;
}
