.ada__content {
  max-width: 70ch;
  margin: 0 auto;
}

@media screen and (max-width: 1344px) {
  .ada__content {
    padding-left: 6rem;
  }
}

@media screen and (max-width: 1023px) {
  .ada__content {
    padding-left: 0rem;
  }
}

.ada__div--full-width-container {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.ada__div--background-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  img {
    height: 100%;
    width: auto;
  }
}

.ada__blockquote {
  position: relative;
  max-width: 43ch;
  --bulma-content-blockquote-background-color: transparent;
  --bulma-content-blockquote-border-left: none;
}

.ada__blockquote::before {
  content: "“";
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 0;
}

.ada__blockquote::after {
  content: "”";
  font-size: 3rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
