.pcb-button.custom-active {
  position: relative;
}

.pcb-button.custom-active::before {
  position: absolute;
  content: "";
  top: 100%;
  left: var(--bulma-button-padding-horizontal);
  right: var(--bulma-button-padding-horizontal);
  height: 60px;
  background: url("../images/pcb.svg");
  background-size: cover;
  background-position-x: 0.58rem;
  background-repeat: no-repeat;
}

.pcb-button[href="/ki-festival"].custom-active::before {
  filter: brightness(0) saturate(100%) invert(17%) sepia(38%) saturate(3988%)
    hue-rotate(253deg) brightness(90%) contrast(87%);
  background-position-x: 0;
}

html[data-theme="dark"] {
  .pcb-button.custom-active::before {
    position: absolute;
    content: "";
    top: 100%;
    left: var(--bulma-button-padding-horizontal);
    right: var(--bulma-button-padding-horizontal);
    height: 60px;
    background: url("../images/pcb.svg");
    background-size: cover;
    filter: invert(100%);
  }

  .pcb-button[href="/ki-festival"].custom-active::before {
    filter: brightness(0) saturate(100%) invert(21%) sepia(87%) saturate(745%)
      hue-rotate(233deg) brightness(94%) contrast(101%);
  }

  .navbar {
    img.dark-brand {
      visibility: visible;
      display: block;
    }

    img.light-brand {
      visibility: collapse;
      display: none;
    }
  }
}

.navbar {
  img.dark-brand {
    visibility: collapse;
    display: none;
  }

  img.light-brand {
    visibility: visible;
    display: block;
  }
}

.navbar-burger {
  margin-inline-end: 1.5rem;
}

a.navbar-item:hover {
  --bulma-navbar-item-background-a: 0.1;
}

@media screen and (max-width: 1215px) {
  .navbar {
    .navbar-end {
      .navbar-item {
        flex-direction: column;
      }
    }
  }
}
