<div class="section container level is-align-items-stretch">
	<div class="level-left is-align-items-stretch">
		<div class="level-item box has-background-light">
			<img src="{{url('theme://images/eu.png')}}" alt="Kofinanziert durch die Europäische Union" style="height: 1.5cm;"/>
		</div>
	</div>
	<div class="level-left is-align-items-stretch">
		<div class="level-item box has-background-light">
			<img src="{{url('theme://images/mwike-nrw.png')}}" alt="Kofinanziert durch das Ministerium für Wirtschaft, Industrie, Klimaschutz und Energie des Landes Nordrhein-Westfalen" style="height: 2cm;"/>
		</div>
	</div>
</div>
