{% set img = page.media.images|length > 0 ? (page.media.images|first).url : url(url('theme://images/fancy-img-left-default.png')) %}
<div class="fancy-img-left grid is-col-min-9">
	<div class="cell section">
		<figure class="image is-2by3 clip">
			<img src="{{img}}" alt="A decorative image clipped by three rectangle with rounded corners"/>
			<svg class="fancy-img-left__clip-path-definition">
				<defs>
					<clipPath id="svg-clip-path">
						<rect height="70%" x="0" rx="20" ry="20" y="11%" width="26%"></rect>
						<rect height="43%" x="32%" rx="20" ry="20" y="0%" width="57%"></rect>
						<rect height="50%" x="35%" rx="20" ry="20" y="48%" width="62%"></rect>
					</clipPath>
				</defs>
			</svg>
		</figure>
	</div>
	<div class="cell is-col-span-2-tablet">
		<section class="section content">
			{{ page.content|raw }}
		</section>
	</div>
</div>
