<section class="ada-hero hero is-fullheight-with-navbar">
	<div class="hero-body ada-hero__full-width has-background-black">
		<div class="level ada-hero__level">
			<div class="level-left">
				<div class="level-item">
					<h1 class="title is-1 has-text-white">{{ page.header.title|nl2br }}</p>
					<div class="block"></div>
					<div class="level">
						<div class="level-left">
							<a class="level-item button is-large is-rounded is-shadowless is-light uppercase-text" href="/ki-days">
								KI-Days
							</a>
							<a class="level-item button is-large is-rounded is-shadowless is-dark uppercase-text" href="/ki-festival">
								KI-Festival
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="level-right is-hidden-touch">
				<div class="level-item">
					<img src="{{url('theme://images/robo-ada2.png')}}" alt="A robot version of Ada Lovelace"/>
				</div>
			</div>
		</div>
	</div>
</section>
