<section class="{{ page.header.indent_text == true ? 'indent-text' : '' }} {{ page.header.center == true ? 'has-text-centered' : '' }} content section just-text">
	{{ page.content|markdown }}
</section>
