{% set images = page.media.images|map(i => i.url)|merge(page.media.files|map(f => f.url)) %}
<section class="logos section">
	<div class="content">{{ page.content|markdown }}</div>
	<div class="logos__images">
		{% for i in images|randomize %}
			<div>
				<img src="{{ i }}"/>
			</div>
		{% endfor %}
	</div>
</section>
